# EditorConfig: https://editorconfig.org

root = true

# Default configuration for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

# Source files
[*.{js,jsx,ts,tsx,vue}]
quote_type = single

# Makefiles must use tabs
[Makefile]
indent_style = tab

# Batch files must use CRLF
[*.{cmd,bat}]
end_of_line = crlf

# Documentation files
[*.{md,mdx,adoc,txt}]
trim_trailing_whitespace = false
insert_final_newline = false

# Git configuration files
[.git{attributes,ignore}]
end_of_line = lf

# Diff files
[*.diff]
trim_trailing_whitespace = false

[Dockerfile]
indent_style = space
indent_size = 4

[*.{cmd,bat}]
end_of_line = crlf
