# Fichiers de cache et de build
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Dépendances
node_modules/
vendor/bundle/
Gemfile.lock

# Fichiers de configuration locaux
.env

# Fichiers système
.DS_Store
Thumbs.db
.vercel
