<!-- Widget de Page Facebook -->
<div class="facebook-widget">
    <div class="fb-page" 
         data-href="https://www.facebook.com/profile.php?id=61573705277749" 
         data-tabs="timeline"
         data-width="500" 
         data-height="600" 
         data-small-header="false" 
         data-adapt-container-width="true"
         data-hide-cover="false" 
         data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/profile.php?id=61573705277749" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/profile.php?id=61573705277749">Franchini</a>
        </blockquote>
    </div>
</div>

<!-- Style optionnel pour le widget -->
<style>
.facebook-widget {
    margin: 20px 0;
    text-align: center;
}

.fb-page {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    .fb-page {
        width: 100% !important;
    }
}
</style>
