<header>
    <div class="container">
        <div class="logo">
            <a href="{{ "/" | relative_url }}" style="text-decoration: none; color: inherit;">
                <h1>Franchini</h1>
                <p>Concessionnaire officiel Deutz-Fahr</p>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ "concession.html" | relative_url }}">Concession</a></li>
                <li><a href="{{ "neuf.html" | relative_url }}">Matériel Neuf</a></li>
                <li><a href="{{ "occasion.html" | relative_url }}">Matériel Occasion</a></li>
                <li><a href="{{ "magasin.html" | relative_url }}">Magasin</a></li>
                <li><a href="{{ "contact.html" | relative_url }}">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
