<!-- Chargement des polices -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

<!-- CSS principaux -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/footer-style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/carousel.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

<!-- Favicon -->
<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

<!-- Chargement des scripts non critiques -->
<script>
  // Fonction pour charger les scripts de manière asynchrone
  function loadScript(src, callback) {
    var script = document.createElement('script');
    script.src = src;
    script.async = true;
    if (callback) script.onload = callback;
    document.head.appendChild(script);
  }
  
  // Chargement différé des scripts non critiques
  document.addEventListener('DOMContentLoaded', function() {
    // Charger les scripts non critiques ici
    loadScript('{{ site.baseurl }}/assets/js/main.js');
  });
</script>

