// Import des variables et fonctions Sass
@use "sass:math";
@use "sass:color";
@use "minima/_custom-variables" as vars;
@use "minima/_custom-mixins" as mixins;

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: #{vars.$base-font-weight} #{vars.$base-font-size}/#{vars.$base-line-height} #{vars.$base-font-family};
  color: vars.$text-color;
  background-color: vars.$background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-top: calc(#{vars.$spacing-unit} / 2);
  margin-bottom: calc(#{vars.$spacing-unit} / 2);
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: vars.$small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin: 0 0 vars.$spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: vars.$base-font-weight;
}

/**
 * Links
 */
a {
  color: vars.$brand-color;
  text-decoration: none;

  &:visited {
    color: vars.$link-visited-color;
  }

  &:hover {
    color: vars.$link-hover-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: vars.$text-color;
  border-left: 4px solid vars.$grey-color-light;
  padding-left: calc(vars.$spacing-unit / 2);
  font-size: calc(vars.$base-font-size * 1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: vars.$base-font-size * 0.9375;
  border: 1px solid vars.$grey-color-light;
  border-radius: 3px;
  background-color: #f8f8f8;
  font-family: vars.$code-font-family;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{vars.$content-width} - (#{vars.$spacing-unit} * 2));
  max-width:         calc(#{vars.$content-width} - (#{vars.$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: vars.$spacing-unit;
  padding: 0 vars.$spacing-unit;
  @include mixins.clearfix;

  @include mixins.media-query(vars.$on-laptop) {
    max-width: -webkit-calc(#{vars.$content-width} - (#{vars.$spacing-unit}));
    max-width:         calc(#{vars.$content-width} - (#{vars.$spacing-unit}));
    padding-right: calc(#{vars.$spacing-unit} / 2);
    padding-left: calc(#{vars.$spacing-unit} / 2);
  }
}

/**
 * Clearfix mixin is defined in _custom-mixins.scss
 * Use @include clearfix; in your styles
 */

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $text-color;
  }
}

.social-media-list {
  .icon {
    padding-right: 5px;
  }

  li + li {
    padding-top: 5px;
  }
}
