// Custom mixins for Minima

/**
 * Clearfix
 */
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Media query mixin
 */
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/**
 * Helper class to visually hide elements while keeping them accessible
 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/**
 * Helper class to clear inner floats
 */
.clearfix {
  @include clearfix;
}

/**
 * Helper class to make an element full width
 */
.full-width {
  width: 100%;
  box-sizing: border-box;
}
