// Import des variables et mixins
@use "sass:math";
@use "sass:color";
@use "minima/_custom-variables" as vars;
@use "minima/_custom-mixins" as mixins;

/**
 * Layout structure
 */
.site-header {
  border-top: 5px solid vars.$brand-color;
  border-bottom: 1px solid vars.$grey-color-light;
  min-height: 56px;
  position: relative;
}

.site-title {
  font-size: vars.$base-font-size * 1.625;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: vars.$text-color;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: vars.$text-color;
    line-height: vars.$base-line-height;
    margin-left: 20px;

    &:hover {
      color: vars.$link-hover-color;
      text-decoration: none;
    }
  }
}

.site-footer {
  border-top: 1px solid vars.$grey-color-light;
  padding: vars.$spacing-unit 0;
}

.footer-heading {
  font-size: calc(#{vars.$base-font-size} * 1.125);
  margin-bottom: calc(#{vars.$spacing-unit} / 2);
}

.footer-col-wrapper {
  font-size: vars.$small-font-size;
  color: vars.$text-color-light;
  margin-left: calc(-1 * #{vars.$spacing-unit} / 2);
  @include mixins.clearfix;
}

.footer-col {
  float: left;
  margin-bottom: calc(#{vars.$spacing-unit} / 2);
  padding-left: calc(#{vars.$spacing-unit} / 2);
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{vars.$spacing-unit} / 2));
  width:         calc(35% - (#{vars.$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{vars.$spacing-unit} / 2));
  width:         calc(20% - (#{vars.$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{vars.$spacing-unit} / 2));
  width:         calc(45% - (#{vars.$spacing-unit} / 2));
}

@include mixins.media-query(vars.$on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{vars.$spacing-unit} / 2));
    width:         calc(50% - (#{vars.$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{vars.$spacing-unit} / 2));
    width:         calc(100% - (#{vars.$spacing-unit} / 2));
  }
}

@include mixins.media-query(vars.$on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{vars.$spacing-unit} / 2));
    width:         calc(100% - (#{vars.$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: vars.$spacing-unit 0;
  flex: 1;
}

.page-heading {
  font-size: vars.$base-font-size * 1.5;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-left: -#{math.div(vars.$spacing-unit, 2)};
  }
}

.post-meta {
  font-size: vars.$small-font-size;
  color: vars.$text-color-light;
}

.post-link {
  display: block;
  font-size: vars.$base-font-size * 1.25;
}

/**
 * Posts
 */
.post-header {
  margin-left: -#{math.div(vars.$spacing-unit, 2)};
}

.post-title {
  font-size: vars.$base-font-size * 1.75;
  letter-spacing: -1px;
  line-height: 1;

  @include mixins.media-query(vars.$on-laptop) {
    font-size: vars.$base-font-size * 1.5;
  }
}

.post-content {
  margin-left: -#{math.div(vars.$spacing-unit, 2)};

  h2 {
    font-size: vars.$base-font-size * 1.5;

    @include mixins.media-query(vars.$on-laptop) {
      font-size: vars.$base-font-size * 1.25;
    }
  }

  h3 {
    font-size: vars.$base-font-size * 1.25;

    @include mixins.media-query(vars.$on-laptop) {
      font-size: vars.$base-font-size * 1.1;
    }
  }

  h4 {
    font-size: vars.$base-font-size * 1.1;

    @include mixins.media-query(vars.$on-laptop) {
      font-size: vars.$base-font-size;
    }
  }
}
