<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    
    {% seo %}
    
    {% include head.html %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/carousel.css' | relative_url }}">


    {%- if page.styles -%}
        {%- for style in page.styles -%}
            <link rel="stylesheet" href="{{ style | relative_url }}">
        {%- endfor -%}
    {%- endif -%}
</head>
<body class="page-{{ page.title | slugify | default: 'default' }}">
    {% include header.html %}
    
    <main>
        {{ content }}
    </main>
    
    {% include footer.html %}
    
    <!-- Firebase -->
    <script src="{{ '/assets/js/init-firebase.js' | relative_url }}" type="module"></script>

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

    <script src="{{ '/assets/js/load-accueil-carousels.js' | relative_url }}"></script>

    {%- if page.scripts -%}
        {% for script in page.scripts %}
            <script src="{{ script | relative_url }}"></script>
        {% endfor %}
    {% endif %}
</body>
</html>